<button>
    <a href="http://localhost:3001">Quay lại</a>
</button>

<div class="content">
    
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nhập nội dung tin nhắn</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<button>
    <a href="#">Gửi</a>
</button>
