

<form style="color: #fff" method="POST" action="/">

<div class="mb-3">
  <label for="name" class="form-label">họ và tên</label>
  <input type="text" class="form-control" id="name" name="name" >
</div>

<div class="mb-3">
  <label for="product_id" class="form-label">số điện thoại</label>
  <input type="number" class="form-control" id="product_id" name="phone">
</div>

<div class="mb-3">
  <label for="price" class="form-label">email</label>
  <input type="email" class="form-control" id="price" name="email">
</div>

<div class="mb-3">
  <label for="image" class="form-label">địa chỉ</label>
  <input type="text" class="form-control" id="image" name="address">
</div>

{{!-- <div class="mb-3">
  <label for="image" class="form-label">link avatar</label>
  <input type="text" class="form-control" id="image" name="avatar">
</div> --}}

<div class="mb-3">
  <label for="image" class="form-label">tên đăng nhập</label>
  <input type="text" class="form-control" id="image" name="account">
</div>

<div class="mb-3">
  <label for="image" class="form-label">mật khẩu</label>
  <input type="password" class="form-control" id="image" name="password">
</div>

<button type="submit" class="btn btn-primary">Đăng ký</button>
</form>